{% extends 'base.html' %}
{% block titulo %}Bienvenido{% endblock %}
{% block encabezado %}
{% endblock %}

{% block content %}
<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
								<ul class="nav">
										<!-- Main menu -->
										<li class="current"><a href="#"><i class="glyphicon glyphicon-user"></i> {{usuario.first_name}} {{usuario.last_name}}</a></li>
										<li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
										<li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
										<li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
										{% if usuario.position == 'DA'%}
										<li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
										<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
											<li><a href="{% url 'mia.views.mia_list' %}"><i class="glyphicon glyphicon-tasks"></i> MIA</a></li>
										{% endif %}
										<li class="submenu">
												 <a href="#">
														<i class="glyphicon glyphicon-list"></i> Pages
														<span class="caret pull-right"></span>
												 </a>
												 <!-- Sub menu -->
												 <ul>
														<li><a href="{% url 'people.views.logout_people' %}">cerrar sesión</a></li>
														<!-- <li><a href="signup.html">Signup</a></li> -->
												</ul>
										</li>
								</ul>
						 </div>
			</div>
			<div class="col-md-10">
				<div class="row">
				 <div class="col-sm-12">
					 <div class="panel panel-default text-left">
						 <div class="panel-body">
							 <div class="col-xs-6"><p contenteditable="false">EVALUADOR</p></div>
							 <div class="col-xs-6"><p contenteditable="false">TRÁMITES</p></div>
							 </button>
						 </div>
					 </div>
				 </div>
			 </div>
			 {% for key, value in evalua_to_dic.items %}
			 <div class="row">
				 <div class="col-sm-3">
					 <div class="well">
						<h5><strong> {{ key }} </strong></h5>
					 </div>
				 </div>
				 <div class="col-sm-9">
					 <div class="well">
						 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								 <div class="panel panel-default">
									 <div class="panel-heading" role="tab" id="headingOne">
										 <h4 class="panel-title">
											 <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.counter }}">
												 Total de solicitudes: {{ value.count }}
											 </a>
										 </h4>
									 </div>
									 <div id="collapseOne{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										 <div class="panel-body">
											 <table class="table">
												 <thead class="thead-inverse">
													 <tr>
														 <th>#</th>
														 <th>Resueltos</th>
														 <th>Días evaluación</th>
														 <th>En Proceso</th>
														 <th>Días evaluación</th>
														 <th>Situación actual</th>
													 </tr>
												 </thead>
												 <tbody>
													 {% for i in value %}
														 <tr>
															 <th scope="row">{{ forloop.counter }}</th>
															 <td>
																 {% if i.estatus == 'RESUELTO' %}
																	 <a href="{% url 'mia.views.mia_detail' pk=i.pk %}"><span class="label label-success">{{ i.bitacora }}</span></a>
																 {% endif %}
															 </td>
															 <td>
																 {% if i.estatus == 'RESUELTO' %}
																	 <span class="label label-success">{{ i.dias_evaluacion }}</span>
																 {% endif %}
															 </td>
															 <td>
																 {% if i.estatus == 'EN TRÁMITE' %}
																	 <a href="{% url 'mia.views.mia_detail' pk=i.pk %}"><span class="label label-danger">{{ i.bitacora }}</span></a>
																 {% endif %}
															 </td>
															 <td>
																 {% if i.estatus == 'EN TRÁMITE' %}
																	 <span class="label label-danger">{{ i.dias_evaluacion }}</span>
																 {% endif %}
															 </td>
															 <td>
																 {% if i.estatus == 'EN TRÁMITE' %}
																	 <span class="label label-danger">{{ i.situacion_actual }}</span>
																 {% endif %}
															 </td>
														 </tr>
													 {% endfor %}
												 </tbody>
											 </table>
										 </div>
									 </div>
								 </div>
							 </div>
					 </div>
				 </div>
			 </div>
			 {% endfor %}
		 </div>
	 </div>
			</div>
		</div>
		</div>

		<script type="text/javascript">
			$(".submenu > a").click(function(e) {
	    e.preventDefault();
	    var $li = $(this).parent("li");
	    var $ul = $(this).next("ul");

	    if($li.hasClass("open")) {
	      $ul.slideUp(350);
	      $li.removeClass("open");
	    } else {
	      $(".nav > li > ul").slideUp(350);
	      $(".nav > li").removeClass("open");
	      $ul.slideDown(350);
	      $li.addClass("open");
	    }
	  });

		</script>
{% endblock %}
